.listItems-album{
    list-style: none;
    font-size: 16px;
}
a:hover{
    text-decoration: none;
}
.page-link:hover{
    text-decoration: none;
}
.listBox-album{
    width: 200px;
    height: 250px;
    align-items: center;
    display: flex;
    margin: 20px;
    justify-content: center;
    cursor: pointer;
    color: #222;
    background: rgba(180, 216, 255, 0.5);
    border: 10px solid;
    border-color: #eaf4ff;
}
.listBox-album:hover{
    background: rgba(143, 252, 237, 0.5);
}
.titleAlbums{
   text-align: center;
   font-size: 40px; 
   margin-top: 100px;
   font-family: 'Gamja Flower', cursive;
}
 .pagination{
    margin: 50px;
    white-space: nowrap;
    width: 200px;
    overflow-x: scroll;
}
.listBox-wrapp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.listItems-album{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
}
.paginationBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-paginator li {
    display: inline-block;  
  } 

::-webkit-scrollbar{
    width: 1px;
    height: 8px;
    background: rgba(180, 216, 255, 0.5);
}
::-webkit-scrollbar-thumb {
    background: #a0c8f3;
}